@import url('https://fonts.googleapis.com/css2?family=Lunasima&display=swap');


:root{
    --blue:#3498db;
    --red:#e74c3c;
    --orange:#f39c12;
    --black:#333;
    --white:#fff;
    --light-bg:#eee;
    --box-shadow:0 5px 10px rgba(0,0,0,1);
    --border:3px solid var(--black);
}

*{
    font-family: 'Lunasima', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border: none;
}

*::website-scrollbar{
    width: 10px;
    height: 5px;
}

*::website-scrollbar-track{
    background-color: transparent;
}

*::website-scrollbar-thumb{
    background-color: var(--blue);
}

body{
    background-color: var(--light-bg);
}

.message{
    position: sticky;
    top:0; right:0; left:0;
    padding: 15px 10px;
    background-color: var(--white);
    text-align: center;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}


.btn,
.option-btn,
.delete-btn{
    display:inline-block;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 18px;
    color: var(--white);
    border-radius:5px;

}

.btn{
    background-color: var(--blue);
    margin-top: 10px;
}

.btn:hover{
    background-color: var(--black);
    
}


.form-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}

.form-container form{
    width: 500px;
    border-radius: 5px;
    border:var(--border);
    padding: 20px;
    text-align: center;
    background-color: var(--white);
}

.form-container form h3{
    font-size: 35px;
    margin-bottom:10px;
    text-transform: uppercase;
    color: var(--black);
}

.form-container form .box{
    width:100%;
    border-radius: 4px;
    border: var(--border);
    padding: 12px 14px;
    font-size:15px;
    margin: 10px 0;

}

.form-container form p{
    margin-top: 20px;
    font-size: 15px;
    color: var(--black);

}

.form-container form p a{
     color: var(--red);
}

.form-container form p a:hover{
    color: var(--blue);
    text-decoration: underline;
}
